{% extends "layout.html" %}

{% block content %}

    <a href="/addtarefa" class="btn btn-primary" role="button">Adicionar</a> <br> <br>

  <table class="table table-bordered table-hover">
  
    <thead>
      <tr>
         <th> <b>Tarefa</b> </th>
         <th> <b>Code</b> </th>
      </tr>
    </thead>

    <tbody>
      {% for key, value in result.items() %}
        <tr>
           <td> {{ key }} </td>
           <td> {{ value }} </td>
        </tr>
      {% endfor %}
    </tbody>
    
  </table>
{% endblock %}